.radius-rotate{
        right: -20px!important;
        width: 110px!important;
        height: 110px!important;
        border-radius: 30% 70% 70% 30% / 39% 30% 70% 61%;
        transition: 0.4s;
        animation: team_morph 14s linear infinite forwards paused;
        -webkit-animation: team_morph 14s linear infinite forwards paused;
        &.start{
            animation-play-state: running;
        }
}
@keyframes team_morph {
    100% {
        rotate: 360deg
    }
}