:root {
    --dark-yellow: #ffae00;
    --light-yellow: #ffc13e;
    --text-dark: #212121;
    --back-color: #616161;
    --light-dark-background: #202020;
}
.portfolio__home-container__elementor-boxes__Home-f-box{
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    .arrow{
        transition:.3s all ease-in-out;
        -webkit-transition:.3s all ease-in-out;
        -moz-transition:.3s all ease-in-out;
        -ms-transition:.3s all ease-in-out;
        -o-transition:.3s all ease-in-out;
    }
    &:hover{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
}
}