:root{
    --dark-yellow:#ffae00;
    --light-yellow: #ffc13e;
    --text-dark:#212121;
    --back-color:#616161;
    --light-dark:#202020;
    --color-23:#232323;
}
.portfolio__home-sidebar{
    background-color: #2d2d2d;
    a.active{
        color: var(--dark-yellow);
    }
}
.back{
    background-color: rgb(45 45 45);
}
.overlay{
    background-color: rgba(0, 0, 0, 0.587);
}
.text-light-yellow{
    color: var(--light-yellow);
}
.background-light-yellow{
    background-color: var(--light-yellow);
}
.text-dark-yellow{
    color: var(--dark-yellow);
}
.background-dark-yellow{
    background-color: var(--dark-yellow);
}
.text-dark{
    color: var(--text-dark);
}
.background-dark{
    background-color: var(--text-dark);
}
.back-color{
    color: var(--back-color);
}
.background-back{
    background-color: var(--back-color);
}
.light-dark-background{
    background-color: var(--light-dark);
}
.text-light-dark{
    color: var(--light-dark);
}
.portfolio__home-container__elementor-boxes__Home-f-box:nth-child(1),.portfolio__home-container__elementor-boxes__Home-f-box:nth-child(3){
    &:hover{
        .arrow{
            color: var(--light-dark);
        }
    }
}
.portfolio__home-container__elementor-boxes__Home-f-box:nth-child(2){
    &:hover{
        .arrow{
            color: var(--light-yellow);
        }
    }
}
.portfolio__home-container__about_me-content__icons{
    a:hover {
        i{
            background-color: #edecec !important;
        }
        span{
            color: #000;
        }
    }
}
.max-w-half{
    max-width: 50%;
}
.max-w-40per{
    max-width: 40%;
}
.text-23{
    color: var(--color-23);
}
.portfolio__home-container__my_skills-cards__half_one-box {
    max-height: 270px;
    height: fit-content;
    transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -ms-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;

    div {
        background-color: white;
        transition: 0.4s all ease-in-out;
        -webkit-transition: 0.4s all ease-in-out;
        -moz-transition: 0.4s all ease-in-out;
        -ms-transition: 0.4s all ease-in-out;
        -o-transition: 0.4s all ease-in-out;
    }

    svg {
        transition: 0.4s all ease-in-out;
        -webkit-transition: 0.4s all ease-in-out;
        -moz-transition: 0.4s all ease-in-out;
        -ms-transition: 0.4s all ease-in-out;
        -o-transition: 0.4s all ease-in-out;
    }

    h4 {
        transition: 0.4s all ease-in-out;
        -webkit-transition: 0.4s all ease-in-out;
        -moz-transition: 0.4s all ease-in-out;
        -ms-transition: 0.4s all ease-in-out;
        -o-transition: 0.4s all ease-in-out;
    }

    p {
        opacity: 0;
        transition: 0.4s all ease-in-out;
        -webkit-transition: 0.4s all ease-in-out;
        -moz-transition: 0.4s all ease-in-out;
        -ms-transition: 0.4s all ease-in-out;
        -o-transition: 0.4s all ease-in-out;
    }
}
.portfolio__home-container__my_skills-cards__half_one-box:hover {
    background-image: url('../../constants/icon-box.jpg');
    div {
        background-color: transparent;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
    }

    svg {
        opacity: 0;
    }

    h4 {
        color: white;
    }

    p {
        opacity: 1;
    }
}
.portfolio__home-projects__content-text ul li{
    span{
        transform: translate(100%,0%);
        -webkit-transform: translate(100%,0%);
        -moz-transform: translate(100%,0%);
        -ms-transform: translate(100%,0%);
        -o-transform: translate(100%,0%);
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        opacity: 0;
}
}
.portfolio__home-projects__content-text ul li:hover{
    span{
        opacity: 1;
 transform: translate(100%,-66%);
 -webkit-transform: translate(100%,-66%);
 -moz-transform: translate(100%,-66%);
 -ms-transform: translate(100%,-66%);
 -o-transform: translate(100%,-66%);
}
}
.portfolio__home-projects__content-cards__card{

    &:hover{
        .portfolio__home-projects__content-cards__card-overtext{
            transform: translateY(0px)!important;
            -webkit-transform: translateY(0px)!important;
            -moz-transform: translateY(0px)!important;
            -ms-transform: translateY(0px)!important;
            -o-transform: translateY(0px)!important;
            opacity: 1!important;
        }
    }
}
.bg-eee{
    background-color: #eee;
}
